<%= react_component('Header') %>
<article class="main-article clearfix">
  <main class="main-contents">
    <div class="edge-outer">
      <div class="edge-inner">
        <section class="pickup">

          <div class="thread-wrap">
            <dl class="thread-list">
              <dt>&#9830;人気スレッド</dt>
              <dd><a href="#">テストテストテストテストテストテストテストテストテストテスト</a></dd>
              <dd><a href="#">テストテストテストテストテストテストテストテストテストテスト</a></dd>
              <dd><a href="#">テストテストテストテストテストテストテストテストテストテスト</a></dd>
            </dl>
          </div>

          <div class="thread-wrap">
            <dl class="thread-list">
              <dt>&#9830;新着スレッド</dt>
              <dd><a href="#">テストテストテストテストテストテストテストテストテストテスト</a></dd>
              <dd><a href="#">テストテストテストテストテストテストテストテストテストテスト</a></dd>
              <dd><a href="#">テストテストテストテストテストテストテストテストテストテスト</a></dd>
            </dl>
          </div>

        </section>
      </div>
    </div>
  </main>
  <%= react_component('Sidebar') %>
</article>
<%= react_component('Footer') %>