.user-data-wrap {

  .user-data-header {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  label {
    width: 280px;
    display: inline-block;
    margin-left: 20px;
  }

  .btn-area {
    text-align: center;
    line-height: 30px;
  }

  &:not(:first-child) {
    margin-top: 30px;
  }

  .user-data {
    margin-bottom: 10px;
  }
}
