.signup-section {
  line-height: 30px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  .guide {
    margin-bottom: 10px;
  }

  .input1 {
    display: block;
    width: 100%;
  }
  
  .btn-area {
    text-align: center;
  }
}
