.header {
  width: 94%;
  margin: 20px auto;
  border-radius: 20px;
  background: #e88eab;
  padding: 10px;
  box-shadow: 2px 2px 4px #777575;
  text-align: center; }
  .header h1 {
    font-size: 2.0rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #bfb9b9; }
  .header h2 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #bfb9b9; }

.header-nav {
  border-top: 2px dashed #e88eab;
  margin-bottom: -15px; }

.header-menu {
  padding: 5px 0; }

.header-menu-list {
  display: inline-block; }
  .header-menu-list a {
    font-size: 1.1rem;
    color: #5f5858;
    display: block;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer; }
    .header-menu-list a.active {
      background: #e88eab;
      color: #fff; }
