.sidebar {
  width: 330px;
  border-radius: 20px;
  background: #e88eab;
  padding: 10px;
  box-shadow: 2px 2px 4px #777575;
  float: left; }

.login-area {
  line-height: 30px;
  margin-bottom: 20px; }
  .login-area .input1 {
    width: 90%;
    margin: 10px auto;
    display: block; }
  .login-area .btn-area {
    text-align: center; }
    .login-area .btn-area .btn1 {
      width: 100px; }
